@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both; // We clear both the float left and right
    }
}

//Base + typography > general layout + grid > pagelayout > components.

@mixin media ($content){
@if $content== phone{
    @media(max-width: 37.5em){@content}; //media queries work good when we define them in em's 1em is equal to 16px.
    //@content defines whatever content we write inside the mixin when we inlude it in our code. 
}

@if $content== lscreen{
    @media(min-width: 112.5em){@content};
}

@if $content== tland{
    @media(max-width: 75em){@content};
}

@if $content== tport{
    @media(max-width: 56.25em){@content};
}

@if $content== phone{
    @media(max-width: 37.5em){@content}; //media queries work good when we define them in em's 1em is equal to 16px.
    //@content defines whatever content we write inside the mixin when we inlude it in our code. 
}

}